/BlueIris.indigoPlugin/Contents/Server Plugin/smb:/
/BlueIris.indigoPlugin/Contents/Packages/PIL/
/BlueIris.indigoPlugin/Contents/Packages/pillow-10.2.0.dist-info/
/BlueIris.indigoPlugin/Contents/Packages/plugin_gifsicle/
/BlueIris.indigoPlugin/Contents/Packages/plugin_gifsicle-0.0.3.dist-info/
/BlueIris.indigoPlugin/Contents/Packages/
/BlueIris.indigoPlugin/Contents/Server Plugin/gifsicle/
